doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Events
    link(rel="stylesheet", href="/events.css")
  body
    include index

    main
      h1 Available Events

      // Search Form (Sends query to server)
      form(method="GET", action="/events")
        input(type="text", name="search", placeholder="Search events..." value=search)
        button(type="submit") Search  

      ul.event-list
        each event in events
          li.event-item
            h2= event.title
            p Description: #{event.description}
            p Date: #{event.event_date}
            p Time: #{event.event_time}
            p Capacity: #{event.capacity}
            a.btn(href=`/event/${event.event_id}`) View Details
